<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de contacto</title>
</head>
<body>
    <h1>Formulario de contacto</h1>

    <form method="POST">
        <div>
            <label for="nombre">Nombre:</label>

            <input
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Escribe tu nombre"
                required
            >
        </div>

        <br>

        <div>
            <label for="mensaje">Mensaje:</label>

            <br>

            <textarea
                id="mensaje"
                name="mensaje"
                rows="5"
                cols="40"
                placeholder="Escribe tu mensaje"
                required
            ></textarea>
        </div>

        <br>

        <button type="submit">
            Enviar mensaje
        </button>
    </form>
</body>
</html>